.gradientCustom2 {
    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
    .gradientForm {
        height: 100vh !important;
    }
}
@media (min-width: 769px) {
    .gradientCustom2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}